.main {
    margin-top: 20px;
    margin-bottom: 10px;
    overflow: hidden
}

@media (max-width: 840px) {
    .main {
        margin-top:60px
    }
}

.tools {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    margin: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 68px 42px
}

@media (max-width: 90em) {
    .tools {
        padding:0 32px 32px
    }
}

@media (max-width: 960px) {
    .tools {
        padding:0 24px 24px
    }
}

.tools__container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative
}

.tools__item {
    background: #fff;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: calc(16.666% - 4px);
    flex-basis: calc(16.666% - 4px);
    border: 1px solid #f5f5fa;
    margin: 2px;
    overflow: hidden;
    -webkit-transition: background-color .4s ease-out,-webkit-box-shadow .4s ease-out;
    transition: background-color .4s ease-out,-webkit-box-shadow .4s ease-out;
    -o-transition: box-shadow .4s ease-out,background-color .4s ease-out;
    transition: box-shadow .4s ease-out,background-color .4s ease-out;
    transition: box-shadow .4s ease-out,background-color .4s ease-out,-webkit-box-shadow .4s ease-out;
    z-index: 1;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}

.tools__item__icon {
    width: 48px;
    height: 48px;
    margin-bottom: 16px
}

@media (max-width: 90em) {
    .tools__item__icon {
        width:42px;
        height: 42px
    }
}

@media (max-width: 640px) {
    .tools__item__icon {
        width:32px;
        height: 32px;
        margin-bottom: 12px
    }
}

.tools__item__icon img,.tools__item a {
    width: 100%;
    height: 100%
}

.tools__item a {
    display: block;
    padding: 32px;
   // position: relative;
    z-index: 2;
    text-decoration: none;
    font-weight: 400
}

@media (max-width: 98.75em) {
    .tools__item {
        font-size:36px;
        line-height: 38px;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: calc(20% - 4px);
        flex-basis: calc(20% - 4px)
    }

    .tools__item a {
        padding: 24px
    }
}

@media (max-width: 1300px) {
    .tools__item {
        -ms-flex-positive:0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: calc(20% - 4px);
        flex-basis: calc(20% - 4px)
    }
}

@media (max-width: 1280px) {
    .tools__item {
        -ms-flex-positive:0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: calc(25% - 4px);
        flex-basis: calc(25% - 4px)
    }
}

@media (max-width: 960px) {
    .tools__item {
        -ms-flex-positive:0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: calc(33.333% - 4px);
        flex-basis: calc(33.333% - 4px)
    }
}

@media (max-width: 640px) {
    .tools__item {
        -ms-flex-positive:0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: calc(50% - 4px);
        flex-basis: calc(50% - 4px)
    }

    .tools__item a {
        padding: 24px
    }
}

@media (max-width: 440px) {
    .tools__item {
        -ms-flex-positive:0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: calc(100% - 4px);
        flex-basis: calc(100% - 4px)
    }

    .tools__item a {
        padding: 12px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center
    }

    .tools__item a .tools__item__icon {
        margin-right: 12px
    }

    .tools__item a .tools__item__content {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }

    .tools__item .badge {
        display: none
    }
}

.tools__item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #33333b;
    margin-bottom: 8px
}

@media (max-width: 991.98px) {
    .tools__item h3 {
        font-size:18px;
        line-height: 24px
    }
}

@media (max-width: 767.98px) {
    .tools__item h3 {
        font-size:16px;
        line-height: 20px
    }
}

.tools__item__content p {
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .3px;
    font-size: 13px;
    color: #707078
}

@media (max-width: 991.98px) {
    .tools__item__content p {
        font-size:12px;
        line-height: 16px
    }
}

@media (max-width: 767.98px) {
    .tools__item__content p {
        font-size:12px;
        line-height: 16px
    }
}

.tools__item:after {
    -webkit-transform: translateX(30%) skew(-30deg);
    transform: translateX(30%) skew(-30deg);
    opacity: 0;
    width: 120%
}

.tools__item img {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
}

.tools__item:hover {
    z-index: 999;
    background: #f5f5fa
}

.tools__item:hover h3 {
    color: #161616
}

.tools__item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.tools__item:hover p {
    color: #47474f
}