

 <div class="main">
<div class="tools"  >
  <div class="tools_container">
     <div class="tools__item"  *ngFor="let product of homeItems">
    
      <a href=" {{ product.path }} " title= " {{ product.name | translate }} " >
          <div class="tools__item__icon">
            <img src="{{ product.icon}} "  alt="Logo">
          </div>
          <h3>{{ product.name | translate }}</h3>
          <div class="tools__item__content">
              <p>{{ product.description | translate}}</p>
          </div>
      </a>

  </div>

  
</div>
</div>
</div> 