@import 'variables';
@import '/src/scss/_fonts.scss';

#search-input-style
{

    height:42px;
}
#search-button-style
{
    width:100%;
    height:38px;
}

#textarea-css-style
{
   width:100%;
}
#response
{
    display:none;
}


:host ::ng-deep .p-megamenu { 
    background: #FFFFFF !important; 
} 

.bodypart
{

    width:100%;
     margin-bottom: 60px;

    height: calc(100vh - 20px); /* Adjust height based on footer height */
  overflow-y: auto;
}

.logo-class
{
    color: #007bff;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Poppins Bold' !important;
    font-size: 25px;
    font-weight: $btn-font-weight;
    line-height: $line-height-base;
}