@import 'variables';
@import '/src/scss/_fonts.scss';

#search-input-style
{

    height:42px;
}
#search-button-style
{
    width:100%;
    height:38px;
}

#textarea-css-style
{
   width:100%;
}
#response
{
    display:none;
}


#css-style-footer
{
color: #ffff;
font-size: medium;
font-weight:inherit;
font-family:'Courier New', Courier, monospace;
font-style: italic;
}
#footer { 
    //clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;


}
#bodyDiv
{
    padding: 0;
    margin: 0;
  
}

.logo-class
{
    color: #007bff;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Poppins Bold' !important;
    font-size: 25px;
    font-weight: $btn-font-weight;
    line-height: $line-height-base;
}