<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="padding:0px;margin: 0px;display: inline-block; float: left">
      <img src="../../../../assets/images/read-icon.svg" alt="" />
          <img src="../../../../assets/images/logo.svg" alt="" />
       </div>

  </div>
  <div class="row">
    <div class="col=sm-12">
      <!-- Home Page Menu Component goes here -->
      <app-home-menu></app-home-menu>
    </div>
  </div>

  <div class="row"  >
    <div class="col-sm-12" id="bodyDiv">
      
      <router-outlet></router-outlet>
   <br>
   <br>
  </div>
  </div>

  <div class="row bg-primary" id="footer"><div class="col-sm-12 text-center" id="css-style-footer"><app-home-footer></app-home-footer></div></div>
</div>
