<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10" style="padding-left:10px;margin: 0px;display: inline-block; float: left">
       
          <img src="assets/images/log.svg" alt="" /> 
        
       </div>
       <div class="col-sm-2" style="float:right; display: inline-block;">
        <p-megaMenu [model]="items"></p-megaMenu>
       </div>
  </div>
  <div class="row">
    <div class="col=sm-12">
      <!-- Home Page Menu Component goes here -->
      <app-home-menu></app-home-menu>
    </div>
  </div>

  <div class="row"  >
    <div class="col-sm-12" id="bodyDiv">
      
      <router-outlet></router-outlet>
   <br>
   <br>
  </div>
  </div>

  <div class="row bg-primary" style="position:fixed;bottom:0;width:100%" ><div class="col-sm-12 text-center"  ><app-home-footer></app-home-footer></div></div>
</div>
