<table border="1" width="100%" height="100%">
  <tr>
    <td>Logo</td>
    <td>Header</td>
  </tr>
  <tr>
    <td width="20%">
      Left Menu
      <br />
      <br />
      <a [routerLink]="['Supplier']">Supplier</a>
      <br />
      <br />
      <a [routerLink]="['Customer']">Customer</a>
      <br />
    </td>
    <td>
      <div id="DynamicScreen">Dynamic data goes here</div>
      <router-outlet></router-outlet>
    </td>
  </tr>
  <tr>
    <td>Footer</td>
    <td></td>
  </tr>
</table>
