<nav class="navbar navbar-expand-lg bg-primary navbar-dark" id="navbar-css-style" >
    <div class="container-fluid">
      <button pButton pRipple type="button" icon="pi pi-home" class="p-button-rounded" (click)="navigateHome()" pTooltip="Home"></button>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" (click)="isShown = !isShown">
        <span class="navbar-toggler-icon"></span>
      </button> 
      <div class="collapse navbar-collapse" [ngClass]="{ show: isShown }">
        <ul class="navbar-nav" id="nav-list-style">
          <li class="nav-item active">
            <button pButton pRipple type="button"  class="p-button-text" (click)="navigateBase64Link()">{{ 'MENU.ENCODERS' | translate }} </button>
          
          </li>
          <li class="nav-item active">
            <button pButton pRipple type="button"  class="p-button-secondary p-button-text" (click)="navigateXmlConversionLink()">{{ 'MENU.CONVERTERS' | translate }}</button>
          </li>

          <li class="nav-item active">
            <button pButton pRipple type="button"  class="p-button-secondary p-button-text" (click)="navigateBaseFormatter()">{{ 'MENU.FORMATTERS' | translate }}</button>
          </li>

          <li class="nav-item active">
            <button pButton pRipple type="button"  class="p-button-secondary p-button-text" (click)="navigateBaseGenerator()">{{ 'MENU.GENERATE' | translate }}</button>
          </li>
          <li class="nav-item active">
            <button pButton pRipple type="button"  class="p-button-secondary p-button-text" (click)="navigateBasePDF()">{{ 'MENU.CONVERTPDF' | translate }}</button>
          </li>
          <li class="nav-item active">
            <button pButton pRipple type="button"  class="p-button-secondary p-button-text" (click)="navigateMergePDF()">{{ 'MENU.MERGEPDF' | translate }}</button>
          </li>
          <li class="nav-item active">
            <button pButton pRipple type="button"  class="p-button-secondary p-button-text" (click)="navigateEditPDF()">{{ 'MENU.EDITPDF' | translate }}</button>
          </li>
          <li class="nav-item active" >
            <button pButton pRipple type="button"  class="p-button-secondary p-button-text" (click)="showForm()" style="color:rgb(235, 239, 16)">{{ 'MENU.REPORTISSUE' | translate }}</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
