<div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <p-panel>
          <ng-template pTemplate="header" > {{ 'GENERATE_TAB.GENERATE_JAVA_CLASS' | translate}}</ng-template>
          <div class="list-group">
            <button
              #sencode
              pButton
              pRipple
              type="button"
                        class="p-button-outlined p-button-rounded"
              (click)="loadBase64Child(sencode)"
            >
          {{ 'GENERATE_TAB.XML_TO_JAVA_CLASS' | translate}}
          
          </button>
  <br>
            <button
              #sdecode
              pButton
              pRipple
              type="button"
       
              class="p-button-outlined p-button-rounded"
              (click)="loadBase64Child(sdecode)"
            >
            {{ 'GENERATE_TAB.JSON_TO_JAVA_CLASS' | translate}}
          </button>
           
          </div>
        </p-panel>
      </div>
      <div class="col-sm-10">
        <app-generate-object-child [childLabel]="childLabel"></app-generate-object-child>
      </div>
    </div>
  </div>
  
