@import 'variables';

.format-text
{
  font-family: 'Poppins Medium' !important;
  font-size: 15px;
  font-weight: $btn-font-weight;
  line-height: $line-height-base;
  color:rgb(0, 110, 255);
  text-align: left;

  
 

}
canvas {
  border: 1px solid #000;
  margin: 10px 0; /* Add some margin between pages */
}
.controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

button {
  margin-right: 10px;
}
.file-dialouge
{
  float: left;
  align-items: center;
  margin-top: 20px;
  background: rgb(238, 245, 196) !important; 
  height: 100%;
  width:100%;

  input
  {
    font-family: 'Poppins Bold' !important;
    font-size: 15px;
    font-weight: $btn-font-weight;
    line-height: $line-height-base;
    direction: ltr;
    height: auto;
color:rgb(91, 122, 243) !important;
  }
}