.tool__header {
    padding: 6px 24px 30px;
}
.tool__header__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 52px;
    color: #33333b;
    text-align: center;
}
.tool__header__subtitle {
    max-width: 800px;
    margin: 8px auto 0;
    line-height: 32px;
    font-size: 22px;
    font-weight: 400;
    color: #47474f;
    text-align: center;
}
button {
    min-width: 10rem;
    margin-right: .5rem;
}

@media screen and (max-width: 960px) {
    button {
        width: 100%;
        margin-bottom: .5rem;
    }
}

:host ::ng-deep {
    .p-toast-message-custom {
        background-color: #E1CFE7;
        border: solid #8A427A;
        border-width: 0 0 0 6px;
        color: #2c1e30;
        .p-toast-icon-close {
            color: #2c1e30;
        }
    }
}
:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
    animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
    100%,
    0% {
        stroke: #16697A;
    }
    40% {
        stroke: #489FB5;
    }
    66% {
        stroke: #82C0CC;
    }
    80%,
    90% {
        stroke: #FFA62B;
    }
}

@keyframes custom-progress-spinner-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}