@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

$fontPoppins: 'Poppins', sans-serif;

@font-face {
  font-family: 'Poppins Regular';
  src: url(../app/assets/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins Semi Bold';
  src: url(../app/assets/fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins Light';
  src: url(../app/assets/fonts/Poppins/Poppins-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins Medium';
  src: url(../app/assets/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url(../app/assets/fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}

label,
div:not(.pi),
span:not(.pi),
input,
textarea,
button,
.p-component {
  font-family: $fontPoppins !important;
}

.bold {
  font-weight: bold;
}
