<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <p-panel [toggleable]="true">
          <ng-template pTemplate="header" >{{ 'CONVERT_PDF_TAB.CONVERT_TO_PDF' | translate}}</ng-template>
          <div class="list-group">
            <button
              #jpgtopdf
              pButton
              pRipple
              type="button"
              
              class="p-button-outlined p-button-rounded"
              (click)="loadBase64Child(jpgtopdf)"
            >
            {{ 'CONVERT_PDF_TAB.JPG_To_PDF' | translate}}
          </button>
  <br>
            <button
              #wordtopdf
              pButton
              pRipple
              type="button"
     
              class="p-button-outlined p-button-rounded"
              (click)="loadBase64Child(wordtopdf)"
            >
            {{ 'CONVERT_PDF_TAB.WORD_To_PDF' | translate}}
          </button>
            <br>
            <button
              #ptopdf
              pButton
              pRipple
              type="button"
             
              class="p-button-outlined p-button-rounded"
              (click)="loadBase64Child(ptopdf)"
            >
            {{ 'CONVERT_PDF_TAB.POWERPOINT_To_PDF' | translate}}
          </button>
            <br>
            <button
              #extopdf
              pButton
              pRipple
              type="button"
           
              class="p-button-outlined p-button-rounded"
              (click)="loadBase64Child(extopdf)"
            >
            {{ 'CONVERT_PDF_TAB.EXCEL_To_PDF' | translate}}
          </button>

            <br>
            <button
              #htopdf
              pButton
              pRipple
              type="button"
              
              class="p-button-outlined p-button-rounded"
              (click)="loadBase64Child(htopdf)"
            >
            {{ 'CONVERT_PDF_TAB.HTML_To_PDF' | translate}}
          </button>
          </div>
        </p-panel>
        <br>
        <p-panel [toggleable]="true">
          <ng-template pTemplate="header" >{{ 'CONVERT_PDF_TAB.CONVERT_FROM_PDF' | translate}}</ng-template>
          <div class="list-group">
            <button
              #pdftojpg
              pButton
              pRipple
              type="button"
             
              class="p-button-outlined p-button-rounded"
              (click)="loadBase64Child(pdftojpg)"
            >
            {{ 'CONVERT_PDF_TAB.PDF_To_JPG' | translate}}
          
          </button>
  <br>
            <button
              #pdftoword
              pButton
              pRipple
              type="button"
              
              class="p-button-outlined p-button-rounded"
              (click)="loadBase64Child(pdftoword)"
            >
            {{ 'CONVERT_PDF_TAB.PDF_To_WORD' | translate}}
          </button>
            <br>
            <button
              #pdftoppt
              pButton
              pRipple
              type="button"
            
              class="p-button-outlined p-button-rounded"
              (click)="loadBase64Child(pdftoppt)"
            >
            {{ 'CONVERT_PDF_TAB.PDF_To_POWERPOINT' | translate}}
          </button>
            <br>
            <button
              #pdftoexcel
              pButton
              pRipple
              type="button"
           
              class="p-button-outlined p-button-rounded"
              (click)="loadBase64Child(pdftoexcel)"
            >
            {{ 'CONVERT_PDF_TAB.PDF_To_EXCEL' | translate}}
          </button>

            <br>
          </div>
        </p-panel>
      </div>
      <div class="col-sm-9">
        <app-pdfconversion-child [childLabel]="childLabel"></app-pdfconversion-child>
      </div>
    </div>
  </div>
  
