<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <p-panel [toggleable]="true">
        <ng-template pTemplate="header" >{{ 'ENCODERS_TAB.BASE64CONVERSION' | translate }}</ng-template>
        <div class="list-group">
          <button
            #sencode
            pButton
            pRipple
            type="button"
                      class="p-button-outlined p-button-rounded"
            (click)="loadBase64Child(sencode)"
          >
          {{ 'ENCODERS_TAB.STRING_ENCODE' | translate }}
        
        
        </button>
<br>
          <button
            #sdecode
            pButton
            pRipple
            type="button"
           
            class="p-button-outlined p-button-rounded"
            (click)="loadBase64Child(sdecode)"
          >
          {{ 'ENCODERS_TAB.STRING_DECODE' | translate }}
        </button>
          <br>
          <button
            #uencode
            pButton
            pRipple
            type="button"
            
            class="p-button-outlined p-button-rounded"
            (click)="loadBase64Child(uencode)"
          >
          {{ 'ENCODERS_TAB.URL_ENCODE' | translate }}
        
        </button>
          <br>
          <button
            #udecode
            pButton
            pRipple
            type="button"
           
            class="p-button-outlined p-button-rounded"
            (click)="loadBase64Child(udecode)"
          >
          {{ 'ENCODERS_TAB.URL_DECODE' | translate }}
        </button>
        </div>
      </p-panel>
    </div>
    <div class="col-sm-10">
      <app-base64-child-container [childLabel]="childLabel"></app-base64-child-container>
    </div>
  </div>
</div>
