<p-panel>
  <ng-template pTemplate="header">
    {{ 'REPORT_ISSUE_TAB.REPORT_AN_ISSUE_TITLE' | translate }}
  </ng-template>
  <ng-template pTemplate="content">
    <div class="form-container">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText [(ngModel)]="name" />
        <label for="float-input">{{ 'REPORT_ISSUE_TAB.NAME' | translate}}</label>
      </span>
      <br />
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText [(ngModel)]="subject" />
        <label for="float-input">{{ 'REPORT_ISSUE_TAB.SUBJECT' | translate}}</label>
      </span>
      <br />
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText [(ngModel)]="cemail" />
        <label for="float-input">{{ 'REPORT_ISSUE_TAB.CONTACT_EMAIL_ADDRESS' | translate}}</label>
      </span>
      <br />
      <span class="p-float-label">
        <textarea
          id="float-input"
          rows="5"
          cols="30"
          pInputTextarea
          [(ngModel)]="desc"
          autoResize="autoResize"
        ></textarea>
        <label for="float-input">{{ 'REPORT_ISSUE_TAB.ISSUE_DESCRIPTION' | translate}}</label>
      </span>
      <br />
      <p>Screenshot of Issue</p>
      <p-fileUpload
        #fileUpload
        name="myfile[]"
        customUpload="true"
        (onSelect)="uploadFile($event)"
        multiple="multiple"
        accept="{{ acceptedFiles }}"
        maxFileSize="1000000"
        mode="basic"
        chooseLabel="Browse"
      >
      {{ 'REPORT_ISSUE_TAB.BROWSE' | translate}}
      </p-fileUpload>

      <br />
      <p-button (onClick)="submitData()">{{ 'REPORT_ISSUE_TAB.SUBMIT' | translate}} </p-button>
    </div>
  </ng-template>
</p-panel>
