<p-panel>
  <ng-template pTemplate="header">
    Please use this form to tell us about the issue that you're experiencing.
  </ng-template>
  <ng-template pTemplate="content">
    <div class="form-container">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText [(ngModel)]="subject" />
        <label for="float-input">Subject</label>
      </span>
      <br />
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText [(ngModel)]="cemail" />
        <label for="float-input">Contact email address</label>
      </span>
      <br />
      <span class="p-float-label">
        <textarea
          id="float-input"
          rows="5"
          cols="30"
          pInputTextarea
          [(ngModel)]="desc"
          autoResize="autoResize"
        ></textarea>
        <label for="float-input">Description of the issue</label>
      </span>
      <br />
      <p>Screenshot of Issue</p>
      <p-fileUpload
        #fileUpload
        pTooltip="users can process up to 6 files per task"
        name="myfile[]"
        customUpload="true"
        (uploadHandler)="uploadFile($event)"
        (onClear)="onFileCancel()"
        multiple="multiple"
        accept="{{ acceptedFiles }}"
        maxFileSize="1000000"
      >
      </p-fileUpload>
    </div>
  </ng-template>
</p-panel>
