<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <p-panel>
        <ng-template pTemplate="header">Converters</ng-template>
        <div class="list-group">
          <button
            #xsdgen
            pButton
            pRipple
            type="button"
            label="XSD Generator"
            class="p-button-outlined p-button-rounded"
            (click)="loadChild(xsdgen)"
          ></button>
          <br />
          <button
          #xmltojson
          pButton
          pRipple
          type="button"
          label="XML to JSON Converter"
          class="p-button-outlined p-button-rounded"
          (click)="loadChild(xmltojson)"
        ></button>
        <br />
        <button
        #jsontoxml
        pButton
        pRipple
        type="button"
        label="JSON to XML Converter"
        class="p-button-outlined p-button-rounded"
        (click)="loadChild(jsontoxml)"
      ></button>
      <br />
            <button
      #jsontoyaml
      pButton
      pRipple
      type="button"
      label="JSON to YAML Converter"
      class="p-button-outlined p-button-rounded"
      (click)="loadChild(jsontoyaml)"
    ></button>
    <br />

    <button
    #yamltojson
    pButton
    pRipple
    type="button"
    label="YAML to JSON Converter"
    class="p-button-outlined p-button-rounded"
    (click)="loadChild(yamltojson)"
  ></button>
  <br />

  <button
  #csvtoxml
  pButton
  pRipple
  type="button"
  label="CSV to XML Converter"
  class="p-button-outlined p-button-rounded"
  (click)="loadChild(csvtoxml)"
></button>
<br />



<button
#csvtojson
pButton
pRipple
type="button"
label="CSV to JSON Converter"
class="p-button-outlined p-button-rounded"
(click)="loadChild(csvtojson)"
></button>
<br />

        </div>
      </p-panel>
  
    </div>
    <div class="col-sm-10">
      <div>
        <app-xmlchild-container [childLabel]="childLabel"></app-xmlchild-container>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
